.App {
  text-align: center;
  background-color: rgb(18, 18, 18);  
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




/* My React Components */

/* Main Content */
.content{
  margin-top: 50px; 
  background-color: rgb(18, 18, 18);
  height: calc(100vh + 200px);
  padding-bottom: 100px;

}

/* Display Bar */
.DisplaybarContainer{
  /* width: 100%;
  margin-top: 20px; 

  border: solid rgb(70, 70, 70) 2px;
  border-radius: 5px; */
}

.DisplaybarContainer-title{
  /* color: rgb(150, 150, 150); */
  /* #0074bc */
  /* background-color: rgb(70, 70, 70); */
}

.DisplaybarContainer-footer{
  height: 20px;
  
}


.Displaybar{
  display: flex;
  width: 100%;
  background-color: rgb(58, 58, 58);
  color: rgb(245, 245, 245);
  padding: 8px 10px;
  border: solid rgb(70, 70, 70) 2px;
  

  font-size: .8em;

  align-items: flex-start;
  flex-direction: column;

}
.Displaybar-close{
  font-size: 10px;
  align-self: flex-end;
  
}

.Displaybar-title{

}

.Displaybar-artist{
  /* background-color: grey; */
  align-self: flex-end;
}

.Displaybar-button{

}
