.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




/* My React Components */


/* Display Bar */
.Displaybar{
  display: flex;
  width: 500px;
  background-color: #97BD9F;
  padding: 8px 10px;

  font-size: .8em;

  align-items: flex-start;
  flex-direction: column;

}
.Displaybar-close{
  font-size: 10px;
  align-self: flex-end;
  
}

.Displaybar-title{

}

.Displaybar-artist{
  /* background-color: grey; */
  align-self: flex-end;
}
